<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<head th:replace="common/head :: head"></head>

<body>

<div th:replace="common/navigation :: navigation ('index')"></div>

<div class="container">
    <div class="row">
        <div class="col-lg">
            <h1 class="mt-4 mb-4" th:text="#{messages.welcome}">Welcome to the Store</h1>

            <div class="row">
                <div class="col-lg-4" th:each="product : ${products}">
                    <div class="card" style="height: 320px;">
                        <div class="card-body" style="height: 100%;">
                            <h5 class="card-title" th:text="${product.title}"></h5>
                            <p class="card-text">[[${product.description}]]</p>

                            <table style="width: 100%;">
                                <tr>
                                    <td>No [[${product.productNumber}]]</td>
                                    <td style="text-align: right;">CHF [[${product.price}]]</td>
                                </tr>
                            </table>
                            <br>
                            <div style="vertical-align: bottom;">
                                <a href="#" class="btn btn-primary" th:text="#{messages.add_to_basket}">Add to
                                    basket</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div th:replace="common/footer :: footer"></div>

</body>

</html>